@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

.loginContainer {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.logo {
  padding: 40px;
  border-radius: 10px;
}

.loginHeaderContainer {
  margin: auto;
  width: 50%;
  text-align: center;
}
.loginHeader {
  font-size: 100px;
}

.titleBottomBorder {
  border-bottom: 6px solid #000000;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  margin-top: 10px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12); */
}

.loginInputLabel {
  padding: 30px !important;
  min-width: 30px !important;
}

.registerAccount {
  padding-top: 10px;
  font-size: 17px;
}
